<div class="cont">
      <div class="logo">
        <%=  image_tag "logo.png", class:"img-logo", alt:""%>
      </div>
      <div class="product-search">
        <div class="search-element">
          <label class="search-label">où ?</label>
          <input class="search-input" type="text" autocomplete="on" placeholder="Bordeaux" name="query">
        </div>
        <div class="search-element">
          <label class="search-label">Quand ?</label>
          <input class="search-input" type="text" placeholder="4 Juin" class="" autocomplete="on" name="location">
        </div>
        <div class="search-element">
          <label class="search-label">Avec qui ?</label>
          <input class="search-input" type="text" placeholder="kevin" class="" autocomplete="on" name="location">
        </div>
        <a type="submit" class="search-button">Search</a>
      </div>
      <div class="nav-btn">
      <%# <% <a class="btn-ins">Inscription</a> %>
      <%= link_to "Connexion", new_user_session_path, class:"btn-connex" %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn-ins" %>
    </div>
  </div>
  <div class="cards">
    <% @users.each do |user| %>
      <div class="card-trip">
        <%=  cl_image_tag user.photo.key, class:"img-card", alt:""%>
        <div class="card-trip-infos">
          <div>
           <h3><%= user.first_name %></h2>
              <p><%= user.service %>
          </div>
          <div class="price">
            <h2 class="card-trip-pricing">2</h2>
            <i class="fa-solid fa-beer-mug-empty"></i>
            <a class="btn-card"> Viens!</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
