<div class="reservation-layout">
  <h1>Mes réservations</h1>
  <h2>Prochaines réservations:</h2>
    <% @next_reservations.each do |next_reservation| %>
      <div class="card-reservation">
        <div class="info-reservation">
          <strong>prochaine réservation avec <%= next_reservation.provider.first_name %></strong>
          <p>Le <%= next_reservation.date %> à <%= next_reservation.provider.location %> </p>
          <%= link_to "annuler", reservation_path(next_reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: "btn-reservation" %>
        </div>
      </div>
    <% end %>

  <h2>Anciennes réservations:</h2>
  <% @past_reservations.each do |past_reservation| %>
    <div data-controller="comment">
      <% review = Review.new %>
        <div class="card-reservation">
          <div class="info-reservation">
            <strong> Ancienne réservation avec <%= link_to(past_reservation.provider.first_name, user_path(past_reservation.provider),class:"provider")%>,</strong>
            <p>Le <%= past_reservation.date %> à <%= past_reservation.provider.location %></p>
            <a data-action="click->comment#display" href="#" class="btn-comentaire">Laisse un commentaire!</a>
              <div class="d-none" data-comment-target="displayed">
                <%=  simple_form_for [@user, past_reservation, review] do |f| %>
                  <%= f.input :comment, label: "Commentaire" %>
                  <%= f.input :rating, label: "Note", as: :numeric , input_html: { min: '0', step: '1', max: '5', value: f.object.rating || '5' }%>
                  <%= f.button :submit, "Valider", class: 'btn btn-primary showbutton mb-3' %>
                <% end %>
              </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
