<%# <h1>Reservations</h1>
<% @reservations.each do |reservation| %>
  <%# <p><%= reservation.description %>
<%# <% end %>
<div class="cont">
      <div class="logo">
        <%=  image_tag "logo.png", class:"img-logo", alt:""%>
      </div>
      <div class="product-search">
        <div class="search-element">
          <label class="search-label">où ?</label>
          <input class="search-input" type="text" autocomplete="on" placeholder="Bordeaux" name="query">
        </div>
        <div class="search-element">
          <label class="search-label">Quand ?</label>
          <input class="search-input" type="text" placeholder="4 Juin" class="" autocomplete="on" name="location">
        </div>
        <div class="search-element">
          <label class="search-label">Avec qui ?</label>
          <input class="search-input" type="text" placeholder="kevin" class="" autocomplete="on" name="location">
        </div>
        <a type="submit" class="search-button">Search</a>
      </div>
      <div class="nav-btn">
        <%= link_to "Connexion", new_user_session_path, class:"btn-connex" %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn-deco" %>
        <%= link_to "inscription", new_user_registration_path, method: :delete, class: "btn-ins" %>
    </div>
</div>
  <div class="reservation-layout">
    <h1>Mes réservation</h1>
    <div class="pop-up">
      <i class="fa-solid fa-circle-check"></i>
      <p>Félicitations ta réservation est confirmée</p>
    </div>
      <h2>Prochaines réservations:</h2>
      <% @next_reservations.each do |next_reservation| %>
        <p>Avec <%= next_reservation.provider.first_name %>, le <%= next_reservation.date %>, à <%= next_reservation.provider.location %></p>
      <% end %>

      <h2>Anciennes Réservations:</h2>
      <% @past_reservations.each do |past_reservation| %>
        <p>Avec <%= past_reservation.provider.first_name %>, le <%= past_reservation.date %>, à <%= past_reservation.provider.location %></p>
      <% end %>

</div>
