<%# <h1>Reservations</h1>
<% @reservations.each do |reservation| %>
  <%# <p><%= reservation.description %>
<%# <% end %>

<div class="cont">
  <div class="logo">
    <%= link_to root_path do %>
      <%=image_tag "logo.png", class:"img-logo", alt:""%>
    <% end %>
  </div>
    <div class="product-search">
      <div class="search-element">
        <label class="search-label">où ?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Bordeaux" name="query">
      </div>
        <div class="search-element">
          <label class="search-label">Quand ?</label>
          <input class="search-input" type="text" placeholder="4 Juin" class="" autocomplete="on" name="location">
        </div>
          <div class="search-element">
            <label class="search-label">Avec qui ?</label>
            <input class="search-input" type="text" placeholder="kevin" class="" autocomplete="on" name="location">
          </div>
          <a type="submit" class="search-button">Search</a>
        </div>
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
          <%= link_to "#", class: "navbar-brand" do %>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown">
                <%= image_tag "image2.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Connexion", new_user_session_path, class:"dropdown-item" %>
                  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  <%= link_to "inscription", new_user_registration_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  <div class="reservation-layout">
    <h1>Mes réservations</h1>
    <div class="pop-up">
      <i class="fa-solid fa-circle-check"></i>
      <p>Félicitations ta réservation est confirmée</p>
    </div>
        <h2>Prochaines réservations:</h2>
        <% @next_reservations.each do |next_reservation| %>
         <div class="card-reservation">
          <div class="info-reservation">
            <strong>prochaine réservation avec <%= next_reservation.provider.first_name %></strong>
            <p>Le <%= next_reservation.date %> à <%= next_reservation.provider.location %> </p>
            <%= link_to "annuler", reservation_path(next_reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: "btn-reservation" %>
          </div>
        </div>
        <% end %>


      <h2>Anciennes réservations:</h2>
    <% @past_reservations.each do |past_reservation| %>
      <div class="card-reservation">
       <div class="info-reservation">
        <strong> Anciennes avec <%= past_reservation.provider.first_name %>,</strong>
        <p>Le <%= past_reservation.date %> à <%= past_reservation.provider.location %></p>
        <a href="#" class="btn-comentaire">Laisse un commentaire!</a>
        </div>
      </div>
    <% end %>
</div>
